body{
  margin:0;
  background:#020617;
  color:white;
  font-family:Arial;
}

.top{
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:#020617;
}

.tabs{
  display:flex;
  gap:10px;
  justify-content:center;
  padding:15px;
}

.tabs button{
  background:#22c55e;
  border:none;
  padding:10px 14px;
  border-radius:20px;
}

.content{
  display:flex;
  justify-content:center;
}

.tab-content{
  display:none;
  width:100%;
  max-width:400px;
  background:#0f172a;
  padding:20px;
  border-radius:15px;
}

input, textarea{
  width:100%;
  padding:10px;
  margin-bottom:10px;
}

button{
  width:100%;
  padding:12px;
  background:#22c55e;
  border:none;
  border-radius:10px;
}